# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\projetos\todo-list-capes\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
